<a href="https://colab.research.google.com/github/dhikaainul/Machine_Learning_Quiz_2/blob/main/ML_Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import package
import numpy as np
import pandas as pd

In [2]:
# baca data
data = pd.read_csv('dataset_quiz.csv')
data.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain;;;;;;;;;;;;;;;;;;;;;;;;;
0,7206,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
1,7214,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
2,5911,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
3,8402,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
4,8201,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;

In [5]:
from sklearn.preprocessing import LabelEncoder

labelencoder=LabelEncoder()

for column in data.columns:
    data[column] = labelencoder.fit_transform(data[column])

data.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain;;;;;;;;;;;;;;;;;;;;;;;;;
0,4,6,3,18,4,1,0,0,0,1,1,1,2,0,3,1
1,5,4,14,8,31,1,0,0,0,1,1,1,2,0,3,1
2,1,15,18,37,25,1,0,0,0,1,1,1,2,0,3,1
3,20,10,16,30,20,1,0,0,0,1,1,1,2,0,3,1
4,17,17,2,1,13,1,0,0,0,1,1,1,2,0,3,1

In [3]:
from sklearn.model_selection import RepeatedKFold

# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)